USE [master]
GO
/****** Object:  Database [dataproje]    Script Date: 12.12.2023 12:44:34 ******/
CREATE DATABASE [dataproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataproje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dataproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataproje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dataproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataproje]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](10) NULL,
	[Sifre] [varchar](30) NULL,
	[Yetki] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[Cariid] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NULL,
	[CariSoyad] [varchar](30) NULL,
	[CariSehir] [varchar](13) NULL,
	[CariMail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
	[CariSifre] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[Departmanid] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[urunad] [varchar](30) NULL,
	[urunbilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Faturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[Faturaid] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSıraNo] [varchar](30) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](30) NULL,
	[Saat] [char](5) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[Giderid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[Giderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](300) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](20) NULL,
	[Tarih] [datetime] NOT NULL,
	[TakipKodu] [varchar](10) NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](10) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlars]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlars](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[Gonderici] [varchar](50) NULL,
	[Alici] [varchar](50) NULL,
	[Konu] [varchar](50) NULL,
	[İcerik] [varchar](2000) NULL,
	[Tarih] [date] NOT NULL,
 CONSTRAINT [PK_dbo.Mesajlars] PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[Personelid] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](250) NULL,
	[Departmanid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[Satisid] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[Cariid] [int] NOT NULL,
	[Personelid] [int] NOT NULL,
	[Urunid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[Satisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLO1]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLO1](
	[Stok] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[Urunid] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[Kategoriid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yapilacaks]    Script Date: 12.12.2023 12:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yapilacaks](
	[Yapilacakid] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yapilacaks] PRIMARY KEY CLUSTERED 
(
	[Yapilacakid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (1, N'a', N'1', N'A')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (2, N'b', N'2', N'B')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (3, N'c', N'3', N'A')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (1, N'Ayşe', N'Kaya', N'Ankara', N'ayse@gmail.com', 1, N'a')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (2, N'Salih', N'Beyaz', N'Trabzon', N'salih@gmail.com', 1, N'b')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (3, N'Barış', N'Sarı', N'Ankara', N'baris@gmail.com', 1, N'1')
SET IDENTITY_INSERT [dbo].[Carilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (1, N'Satış Temsilcisi', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (2, N'Muhasebe', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (3, N'Satın Alma', 1)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
GO
SET IDENTITY_INSERT [dbo].[Detays] ON 

INSERT [dbo].[Detays] ([DetayID], [urunad], [urunbilgi]) VALUES (1, N'Buzdolabı', N'Bilgiler')
SET IDENTITY_INSERT [dbo].[Detays] OFF
GO
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (1, N'Buzdolabı', 1, CAST(2700.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (2, N'Fırın', 1, CAST(375.00 AS Decimal(18, 2)), CAST(375.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (4, N'Su Isıtıcı', 3, CAST(3.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (1, N'A', N'100000', CAST(N'2023-04-24T00:00:00.000' AS DateTime), N'Beykoz', N'13:35', N'Yusuf Karadağ', N'Yunus İnce', CAST(3195.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (2, N'A', N'100101', CAST(N'2023-04-24T00:00:00.000' AS DateTime), N'Beşiktaş', N'14:20', N'Mesut Akalan', N'Turkay Kılıç', CAST(80.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'A', N'100102', CAST(N'2023-04-24T00:00:00.000' AS DateTime), N'Kadıköy', N'15:40', N'Ali Kaya', N'Aylin Öztürk', CAST(4130.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [Personel], [Alici], [Tarih], [TakipKodu]) VALUES (1, N'test', N'Eray Özçelik', N'Emel Sarı', CAST(N'2023-08-17T00:00:00.000' AS DateTime), N'302A16C82D')
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [Personel], [Alici], [Tarih], [TakipKodu]) VALUES (2, N'deneme
', N'Halil', N'Aydın', CAST(N'2023-08-18T00:00:00.000' AS DateTime), N'618C35C25F')
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (1, N'302A16C82D', N'Müşteri satışı tamamlandı', CAST(N'2023-08-20T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (2, N'302A16C82D', N'Ürün kargoya verildi', CAST(N'2023-08-20T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (3, N'302A16C82D', N'Ürün İstanbul''dan ayrıldı', CAST(N'2023-08-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'Beyaz Eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'Telefon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'Küçük Ev Aleti')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesajlars] ON 

INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [İcerik], [Tarih]) VALUES (1, N'zeynep@gmail.com', N'eylul@gmail.com', N'Teşekkür', N'Merhaba Eylül, tavsiye ettiğin bilgisayarı aldım. Teşekkür ederim.', CAST(N'2023-08-10' AS Date))
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [İcerik], [Tarih]) VALUES (3, N'mehmet@gmail.com', N'eylul@gmail.com', N'Tavsiye', N'Merhaba Eylül, su ısıtıcıyı aldın mı? Eğer almadıysan indirime girmiş durumda. Almanı tavsiye ederim', CAST(N'2023-09-08' AS Date))
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [İcerik], [Tarih]) VALUES (4, N'buse@gmail.com', N'eylul@gmail.com', N'Ürün Takibi', N'Merhaba Eylül, geçen beğendiğin düzleştirici indirime girmiş. İstersen bir bak.', CAST(N'2023-08-08' AS Date))
SET IDENTITY_INSERT [dbo].[Mesajlars] OFF
GO
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (1, N'Ahmet', N'Yıldırım', N'https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?w=2000', 1)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (2, N'Aylin', N'Öztürk', N'https://img.freepik.com/free-photo/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg?w=2000', 1)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (3, N'Hasan', N'Kaya', N'https://img.freepik.com/premium-photo/young-brazilian-man-isolated-white-background-laughing_1368-362553.jpg', 2)
SET IDENTITY_INSERT [dbo].[Personels] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (1, CAST(N'2020-04-14T00:00:00.000' AS DateTime), 1, CAST(1500.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), 3, 1, 2)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (2, CAST(N'2020-04-14T00:00:00.000' AS DateTime), 1, CAST(375.00 AS Decimal(18, 2)), CAST(375.00 AS Decimal(18, 2)), 2, 3, 4)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (3, CAST(N'2020-04-14T00:00:00.000' AS DateTime), 2, CAST(40.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), 2, 3, 7)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
GO
INSERT [dbo].[TABLO1] ([Stok]) VALUES (11)
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (1, N'Buzdolabı', N'Arçelik', 130, CAST(2400.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 1, N'https://i.lezzet.com.tr/images-xxlarge-secondary/no-frost-buzdolabi-nedir-avantajlari-nelerdir-401e1a59-91ed-487d-9dc0-ff2fb1eb1469.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (2, N'Çamaşır M', N'Beko', 100, CAST(1200.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), 1, N'https://yurudesign.com.tr/wp-content/uploads/2022/06/yurudesign-siena-camasir-makinesi-dolabi-cekmeceli-kece-beyaz-sa1-wk-13187.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (3, N'Laptop', N'Toshiba', 50, CAST(3500.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 0, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROAyyRhMOViSAW6x7rEcwMolwO_FT8fVFEvCaMQs5fhKHgm9w1KkziGfnZo7jWLaJccfQ&usqp=CAU', 4)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
SET IDENTITY_INSERT [dbo].[Yapilacaks] ON 

INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (1, N'Ahmet Bey ile toplantımız var', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (2, N'Selin Hanım ile görüşme sat 14:00''de', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (3, N'Deneme', 0)
SET IDENTITY_INSERT [dbo].[Yapilacaks] OFF
GO
/****** Object:  Index [IX_Faturaid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Faturaid] ON [dbo].[FaturaKalems]
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departmanid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Departmanid] ON [dbo].[Personels]
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cariid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Cariid] ON [dbo].[SatisHarekets]
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personelid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Personelid] ON [dbo].[SatisHarekets]
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Urunid] ON [dbo].[SatisHarekets]
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 12.12.2023 12:44:34 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Uruns]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carilers] ADD  CONSTRAINT [DF__Carilers__Durum__02084FDA]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Departmen] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Faturalars] ADD  CONSTRAINT [DF__Faturalar__Topla__25518C17]  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid] FOREIGN KEY([Faturaid])
REFERENCES [dbo].[Faturalars] ([Faturaid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid] FOREIGN KEY([Departmanid])
REFERENCES [dbo].[Departmen] ([Departmanid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid] FOREIGN KEY([Cariid])
REFERENCES [dbo].[Carilers] ([Cariid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid] FOREIGN KEY([Personelid])
REFERENCES [dbo].[Personels] ([Personelid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid] FOREIGN KEY([Urunid])
REFERENCES [dbo].[Uruns] ([Urunid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid]
GO
USE [master]
GO
